
<footer>
    <div class="policy-home">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-4">
                    <div class="block">
                        <div class="block-content">
                            <div class="policy-item">
                                <div class="policy-content iconpolicy1">
                                    <img src="./assets/images/home1-policy.png" alt="img">
                                    <div class="box-info">
                                        <p class="policy-name">24h Liefergarantie</p>
                                        <p class="policy-des">Unser großartiges Netzwerk liefert innerhalb eines Tages</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tiva-html col-lg-4 col-md-4">
                    <div class="block">
                        <div class="block-content">
                            <div class="policy-item">
                                <div class="policy-content iconpolicy2">
                                    <img src="./assets/images/home1-policy2.png" alt="img">
                                    <div class="box-info">
                                        <p class="policy-name">Schnelle Hilfe</p>
                                        <p class="policy-des">Unser Kundensupport kümmert sich um ihre Anliegen innerhalb von 12 Stunden</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tiva-html col-lg-4 col-md-4">
                    <div class="block">
                        <div class="block-content">
                            <div class="policy-item">
                                <div class="policy-content iconpolicy3">
                                    <img src="./assets/images/home1-policy3.png" alt="img">
                                    <div class="box-info">
                                      <p class="policy-name">Geld-zurück-Garantie</p>
                                      <p class="policy-des">Ihnen gefällt ihr Produkt nicht, wir geben Ihnen Ihr Geld zurück</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container box-copy">
      <div class="row">
          <div class="col-md-6 col-lg-6">
            <p class="copy">
                Copyrights © AOS 2022
            </p>
          </div>
          <div class="col-md-6 col-lg-6 box-pay">
            <img src="./assets/images/pay.png"/>
          </div>
      </div>
    </div>
</footer>

