

<section class="single-prod">
  <div class="row">
    <div class="col-lg-6">
      <div class="box-img">
          <img src="{{item.image}}" alt=""/>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="box-desc">
          <p class="name">{{item.name}}</p>
          <p class="price">{{item.price | currency:currency_code:'symbol-narrow':'1.2-2'}}</p>
          <p class="description">{{item.description}}</p>

          <p>Gebraucht: {{item.imported == '0' ? 'Nein' : 'Ja' }}</p>

      </div>
      
    </div>
  </div>
</section>